section.secondHeading{
	height: 496px;
	background: $background;
	display: flex;
	align-items: center;
	.headingBox{
		margin: 0 auto;
		width: 70%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		.twitterIcon i{
			color: #1dcaff;
			font-size: 35px;
		}
	}
}
.secondHeading p {
	padding: 10px 0;
}
.headingBox .aod{
	color: #353638;
	font-weight: 700;
}
.headingBox p.twitterText{
	font-style: italic;
}



